* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none ;
    font-family: "Nunito Sans", sans-serif;
}

body{

    background-color:#FAF9F6 ;
    overflow-x: hidden;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color:#4E6A4A;
    color: #fff;
    min-width: 7%;
}

.logo {
    font-size: 25px;
    color: wheat;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.logo:hover {
    color:  rgba(236, 206, 149, 0.837);
}

.link {
    font-size: 15px;
    color:wheat;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 3px;
}

.link:hover {
    color: rgba(236, 206, 149, 0.837);
}

.search-bar input[type="text"] {
    width: 100px; 
    padding: 8px;
    margin-left: 10px;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 8px 12px;
    margin-left: 0px;
    background-color:wheat;
    border: none;
    color: #132a13;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-bar select {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* side bar */

.icons {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-left: 10px;
}

.icons a {
    color: wheat; 
    text-decoration: none; 
    font-size: 20px; 
    transition: color 0.3s ease; 
}

.icons a:hover {
    color: rgba(236, 206, 149, 0.837); 
}

.icons i {
    cursor: pointer;
}
.sidebar {
    background-color: #4E6A4A;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 40px 20px;
    display: none;
    z-index: 1000;

}

.sidebar.active{
    display: block;
}


.info-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    cursor: pointer;
}

.info-sidebar .logo{
    font-size: 22px;
    color: wheat;
    font-weight: bold;
}

.info-sidebar i {
    color: wheat;
    font-size: 22px;
    font-weight: bold;
}

.sidebar .social-sidebar {
    margin: 100px 0px;
}

.sidebar .social-sidebar a{
    display: block;
    color: wheat;
    padding: 10px;
    font-size: 18px;
}

.call {
    margin-top: 100px;
}

.call h2 {
    color: wheat;
    padding: 10px 0px;
}

.call h5 {
    color: wheat;
    font-size: 15px;
}

footer {
    background-color: #4E6A4A;
    color:white;
    text-align: center;
    padding: 1em 0;
    
}